@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600&display=swap');
html , body{
    font-family: 'Kanit', sans-serif;
}
body {
    background-color: #EEEEEE;
}

.card , .card-header,.form-control{
    border-radius: 0  !important;
}
.card {
    
    border-color: #17A2BB;
}
.card-header {
    background-color: #17A2BB;
    color: #EEEEEE;
}
.alertify .ajs-header {
    color: #17A2BB !important;
}
.table th {
    color: #525b62;
    font-weight: 400;
}
.table td {
    color: #525b62;
    font-weight: 300;
    font-size: 0.9 rem;
    vertical-align: middle;
}
.pointer{
    cursor: pointer !important;
}
.img-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 123px;
    height: 70px;
    border: solid 1px #ced4da;
}
.img-container img {
    max-width: 100%;
    max-height: 100%;
}
.page-link {
    color: #17A2BB ;
}
.pagination li.active .page-link{
    background-color: #17A2BB;
    border: #17A2BB;
}
.page-link :hover{
    color:#525b62 !important ;
}

@media screen and (max-width: 575.98px){
    .table-responsive .table th {
        white-space: nowrap;
    }
    .card-body {
        margin-bottom: 7%;
        
    }
    .card-header{
        margin-top: 7%;
    }
}